<launch>
    <node pkg="baxter_interface" type="joint_trajectory_action_server.py" name="trajectory_node" >
    </node>

    <include file="$(find baxter_moveit_config)/launch/demo_baxter.launch"/>

    <!-- <node pkg="bax_two" type="start_robot.py" name="start_robot" /> -->
    <!-- <node pkg="test" type="test.cpp" name="test" /> -->

</launch>